.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: antiquewhite;
    border-radius: 100%;
    border: 3px, solid, antiquewhite;
}

.saveBtn {
    border-radius: 8px;
    width: fit-content;
}

.btn:hover {
    cursor: pointer;
    border: 2px, solid, grey;
}

.saveBtn:hover {
    cursor: pointer;
    border: 2px, solid, grey;
}

.btn>img {
    height: 24px;
    width: 24px;
}

.btnContainer {
    display: flex;
    gap: 40px;
}

.btnAgain {
    border-radius: 100%;
}